body {
  background-color: black;
}

.header {
  position: relative;
  background-image: url('/bgHeader.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  mask-image: linear-gradient(rgb(77, 58, 58) 80%, transparent);
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.795);
  z-index: 1;
}

.header>* {
  position: relative;
  z-index: 1;
}

.title {
  font-size: 4rem;
  color: white;
  font-family: "Comic Relief", system-ui;
  text-align: center;
  padding: 0;
  margin: 0;
}

.slogan {
  font-size: large;
  color: white;
  text-align: center;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 20px;
  font-family: "Comic Relief", system-ui;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  background-color: rgba(173, 196, 173, 0.425);
  border-radius: 30px;
  padding: 10px;
}

.nav-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  height: auto;
  font-size: 1rem;
  font-family: "Comic Relief", system-ui;
  transition: .5s;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-selection :hover {
  font-size: 1.1rem;
  background-color: rgb(46, 228, 46);

}

.nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.titles-isotipo {
  display: flex;
  flex: 9;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 2%;
}

.titles-isotipo p {
  text-align: justify;
  color: white;
  font-size: 1.5rem;
  font-family: "Comic Relief", system-ui;
  padding-left: 10%;
  padding-right: 10%;
}

.titles {
  display: flex;
  flex-direction: column;
  flex: 2;
  width: 100%;
  height: 100%;
  background: rgba(154, 182, 160, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding-bottom: 1%;
  mask-image:
    linear-gradient(to bottom, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 80%, transparent),
    linear-gradient(to top, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 87%, transparent),
    linear-gradient(to right, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 94%, transparent),
    linear-gradient(to left, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 94%, transparent);
  mask-composite: intersect;
  padding-top: 1.5%;
}

.text-information {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.social-img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  width: 100%;
  height: 100%;
}

.social-img img {
  height: 100%;
  transition: .3s;
  border-radius: 100%;
  height: auto;
}

.social-img img:hover {
  width: 3rem;
  border-radius: 25%;
}

.logo {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 0;
}

.logo img {
  width: 100%;
  height: auto;
  border-radius: 100% 100% 0% 0%;
  filter: drop-shadow(12px 8px 4px #ffffff4f) blur(.6px);
  mask-image: radial-gradient(circle, rgb(255, 255, 255) 50%, transparent 80%);
  -webkit-mask-image: radial-gradient(circle, rgb(255, 255, 255) 50%, transparent 65%);
}


/*Body*/
.body-intro {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  position: relative;
  background: #000000;
  background: linear-gradient(161deg, rgba(3, 1, 1, 1) 8%, rgb(4, 39, 0) 48%, rgba(20, 18, 18, 1) 76%);
  padding: 5%;
  padding-top: 8%;
  overflow: hidden;
  border-color: transparent;
}

.body-intro.active {
  opacity: 1;
  transform: translateY(0);
}

.body-intro::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 30px;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"><path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" /></svg>');
  background-size: cover;
  z-index: 2;
}

.intro-video {
  display: flex;
  flex-direction: row-reverse;
}

.intro {
  flex: 2;
  display: flex;
  padding-left: 6%;
}

.intro p {
  font-size: 1.5rem;
  text-align: justify;
  color: white;
  font-family: "Comic Relief", system-ui;
}

.video-intro {
  position: relative;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  position: relative;
  width: 100%;
  z-index: 2;
}

.video-intro video {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 4px solid black;
  z-index: 2;
}

.hojas-container {
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 1;
  pointer-events: none;
}

.hoja {
  width: 70px;
  height: auto;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.671));
  position: absolute;
}

.hoja-izquierda {
  transform: rotate(-60deg);
  right: 0;
  top: -30;
}

.hoja-centro {
  transform: rotate(-1deg);
  right: -30;
  top: -30px;
}

.hoja-derecha {
  transform: rotate(20deg);
  right: -40;
  top: 0;
}

/*Media Query/
/* Mobile: Small hasta Large (320px - 767px) */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hoja {
    width: 50px;
  }
  .hoja-centro {
    transform: rotate(-40deg);
    right: 15;
    top: -25;
  }
  .hoja-derecha {
    transform: rotate(20deg);
    right: 0;
    top: -10;
  }
  .hoja-izquierda {
    transform: rotate(-60deg);
    right: 30;
    top: -20;
  }
  .intro-video {
    flex-direction: column;

    .logo img {
      width: 70%;
    }

    .logo {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .title {
      font-size: 2rem;
      padding-left: 5%;
      padding-right: 5%;
    }

    .titles-isotipo {
      display: flex;
      flex-direction: column-reverse;
    }

    .slogan {
      font-size: .8rem;
      padding-left: 5%;
      padding-right: 5%;
    }

    .nav-selection {
      font-size: .9rem;
    }

    .nav-selection:hover {
      font-size: 1rem;
      background-color: rgb(0, 0, 0);
      mask-image:
        linear-gradient(to bottom, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 80%, transparent),
        linear-gradient(to top, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 87%, transparent),
        linear-gradient(to right, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 94%, transparent),
        linear-gradient(to left, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 94%, transparent);
      mask-composite: intersect;
    }

    .text-information {
      padding-top: 10%;
    }

    .titles-isotipo p {
      font-size: 1rem;
    }

    .social-img {
      margin-bottom: 25%;
    }
  }
}

/* Tablet: (768px - 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hoja {
    width: 43px;
  }

  .hoja-centro {
    right: -10;
    top: -10;
  }

  .hoja-derecha {
    transform: rotate(30deg);
    right: -15;
    top: 5;
  }

  .hoja-izquierda {
    transform: rotate(-50deg);
    right: 5;
    top: -10;
  }

  .intro p {
    font-size: 1rem;
    padding-left: 5%;
    padding-right: 5%;
  }

  .logo {
    height: 100%;
    width: 100%;
  }

  .logo img {
    width: 18rem;
    height: 18rem;
  }

  .title {
    font-size: 2.3rem;
    padding-left: 5%;
    padding-right: 5%;
  }

  .titles-isotipo {
    flex-direction: row-reverse;
  }

  .slogan {
    font-size: .8rem;
    padding-left: 5%;
    padding-right: 5%;
  }

  .nav-selection {
    font-size: 1.3rem;
  }

  .nav-selection:hover {
    font-size: 1.6rem;
    background-color: rgb(0, 0, 0);
    mask-image:
      linear-gradient(to bottom, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 80%, transparent),
      linear-gradient(to top, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 87%, transparent),
      linear-gradient(to right, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 94%, transparent),
      linear-gradient(to left, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 94%, transparent);
    mask-composite: intersect;
  }

  .text-information {
    padding-top: 10%;
  }

  .titles-isotipo p {
    font-size: 1rem;
  }
}

/* Portátil grande (Laptop): (1025px - 1440px) */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .title {
    font-size: 4rem;
  }

  .slogan {
    font-size: 1.5rem;
  }

  .nav-selection {
    font-size: 1.7rem;
  }

  .nav-selection:hover {
    font-size: 1.9rem;
    background-color: rgb(0, 0, 0);
    mask-image:
      linear-gradient(to bottom, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 80%, transparent),
      linear-gradient(to top, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 87%, transparent),
      linear-gradient(to right, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 94%, transparent),
      linear-gradient(to left, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 94%, transparent);
    mask-composite: intersect;
  }
}

/* 4K: (2560px y más) */
@media screen and (min-width: 2560px) {
  .hoja {
    width: 170px;
  }

  .hoja-centro {
    right: -90;
    top: -60;
  }

  .hoja-derecha {
    transform: rotate(30deg);
    right: -130;
    top: -30;
  }

  .hoja-izquierda {
    transform: rotate(-50deg);
    right: -20;
    top: -80;
  }

  .intro p {
    font-size: 4rem;
  }

  .title {
    font-size: 8rem;
  }

  .slogan {
    font-size: 3rem;
  }

  .nav-selection {
    font-size: 3.5rem;
  }

  .nav-selection:hover {
    font-size: 4rem;
    background-color: rgb(0, 0, 0);
    mask-image:
      linear-gradient(to bottom, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 80%, transparent),
      linear-gradient(to top, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 87%, transparent),
      linear-gradient(to right, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 94%, transparent),
      linear-gradient(to left, transparent, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 94%, transparent);
    mask-composite: intersect;
  }

  .titles-isotipo p {
    font-size: 3rem;
  }

  .social-img img {
    width: 5.5rem;
    height: auto;
  }

  .social-img img:hover {
    width: 6.5rem;
    height: auto;
  }
}