body {
  background-color: black;
}
.header {
  position: relative;
  background-image: url('/bgHeader.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 4, 75, 0.596);
  /* Ajusta el valor de opacidad (0.5) según desees */
  z-index: 1;
  /* Coloca el pseudo-elemento detrás del contenido */
}

.header>* {
  position: relative;
  /* Asegura que el contenido esté por encima del ::before */
  z-index: 2;
  /* Coloca el contenido encima del pseudo-elemento */
}

.title {
  font-size: 4rem;
  color: white;
  font-family: cursive;
  text-align: center;
  padding: 0;
  margin: 0;
}

.slogan {
  font-size: large;
  color: white;
  text-align: center;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 20px;
  font-family: cursive;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgba(46, 49, 46, 0.425);
  border-radius: 30px;
  padding: 5px;
}

.nav-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  height: 100%;
  font-size: 1rem;
  font-family: cursive;
  transition: .5s;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.nav-selection:hover {
  font-size: 1.1rem;
  background-color: rgb(15, 141, 11);
}

.nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.titles-isotipo {
  display: flex;
  flex: 9;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.titles {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
}

.logo img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}